# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz

#sequelize
#config


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
/.idea/
/config/config.json
/uploads/
/public/uploads/
