.card-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  background-color: #d1ecf1;
  box-shadow: inset 0 0 4px;
}

#clickable-row {
  cursor: pointer;
}

#unclickable-row {
  cursor: default;
}

