<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button (click)="utilisateurModalRel.hide()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <label class="control-label requis" for="oldPassword">Ancien mot de passe</label>
        <input #oldPassword="ngModel" [(ngModel)]="utilisateur.oldPassword" class="form-control"
               id="oldPassword" name="oldPassword"
               placeholder="Mot de passe" required type="password">
        <div *ngIf="inputEnErreur(oldPassword)" class="alert alert-danger">
          <div *ngIf="oldPassword.errors?.minlength">
            Le mot de passe doit faire au moins 8 caractères.
          </div>

          <div *ngIf="oldPassword.errors?.required">
            Un mot de passe est requis.
          </div>

          <div *ngFor="let erreur of erreursServeurs?.password">
            {{erreur}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label requis" for="newPassword">Votre nouveaux mot de passe</label>
        <div class="input-group">
          <input #newPassword="ngModel" [(ngModel)]="utilisateur.newPassword" class="form-control"
                 id="newPassword" name="newPassword"
                 placeholder="Nouveau mot de passe" required type="password">

        </div>
      </div>

      <div [ngClass]="{'has-error': inputEnErreur(newPassword)}" class="form-group">
        <label class="control-label requis" for="newPassword2"> Confirmation de mot de passe:
        </label>
        <div class="input-group">
          <input [(ngModel)]="password2input" class="form-control"
                 id="newPassword2" name="newPassword" placeholder="Confirmation du nouveau mot de passe" required
                 showHidePassword type="password">
          <div (click)="toggleShowPassword()" class="input-group-append" title="Afficher">
            <span #toggler class="input-group-text"><i class="fa fa-fw fa-eye" title="Afficher"></i></span>
          </div>
        </div>
        <div *ngIf="!motsDePasseEgaux() && newPassword.dirty" class="alert alert-danger">
          Les mots de passe ne sont pas égaux.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="updatePassword()" [disabled]="form.invalid"
            class="btn btn-primary" type="button">Modifier
    </button>
    <button (click)="utilisateurModalRel.hide()" class="btn btn-secondary" type="button">Fermer</button>
  </div>
  <!--<pre>{{form.value | json}}</pre>-->
</div>
